<!doctype html>
<!--
                              _.._        ,------------.
                           ,'      `.    ( We want you! )
                          /  __) __` \    `-,----------'
                         (  (`-`(-')  ) _.-'
                         /)  \  = /  (
                        /'    |--' .  \
                       (  ,---|  `-.)__`
                        )(  `-.,--'   _`-.
                       '/,'          (  Wy",
                        (_       ,    `/,-' )
                        `.__,  : `-'/  /`--'
                          |     `--'  |
                          `   `-._   /
                           \        (
                           /\ .      \.  YLSAT.COM
                          / |` \     ,-\
                         /  \| .)   /   \
                        ( ,'|\    ,'     :
                        | \,`.`--"/      }
                        `,'    \  |,'    /
                       / "-._   `-/      |
                       "-.   "-.,'|     ;
                      /        _/["---'""]
                     :        /  |"-     '
                     '           |      /
                                 `      |
-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="${template+'/common/head'} :: head"></head>

<body>
<section class="container user-select">
  <header th:include="${template+'/common/header'} :: header"></header>
  <!--/超小屏幕可见-->
  <div class="content-wrap"><!--内容-->
    <div class="content">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> <!--banner-->
        <ol class="carousel-indicators" >
          <li th:each="slider:${sliderList}" data-target="#carousel-example-generic"
              th:attr="data-slide-to=${sliderStat.index}" th:class="${sliderStat.index == 0?'active':''}"></li>
        </ol>
        <div class="carousel-inner" role="listbox" >
          <div th:each="slider:${sliderList}" th:class="${sliderStat.index == 0?'item active':'item'}" >
            <a th:href="@{${slider.linkUrl}}" target="_blank"><img th:src="@{${slider.showUrl}}" alt="" /></a>
            <div class="carousel-caption" th:text="${slider.title}"> </div>
            <span class="carousel-bg"></span> </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
      <!--/banner-->
      <!--<div class="content-block hot-content hidden-xs">-->
        <!--<h2 class="title"><strong>本周热门排行</strong></h2>-->
        <!--<ul>-->
          <!--<li class="large"><a href="detail.html" target="_blank"><img th:src="@{${'/'+template+'/images/img3.jpg'}}" alt="">-->
            <!--<h3> 欢迎来到随风逸技术博客 </h3>-->
            <!--</a></li>-->
          <!--<li><a href="detail.html" target="_blank"><img th:src="@{${'/'+template+'/images/logo.jpg'}}" alt="">-->
            <!--<h3> 欢迎来到随风逸技术博客,在这里可以看到网站前端和后端的技术等 </h3>-->
            <!--</a></li>-->
          <!--<li><a href="detail.html" target="_blank"><img th:src="@{${'/'+template+'/images/img2.jpg'}}" alt="">-->
            <!--<h3> 欢迎来到随风逸技术博客,在这里可以看到网站前端和后端的技术等 </h3>-->
            <!--</a></li>-->
          <!--<li><a href="detail.html" target="_blank"><img th:src="@{${'/'+template+'/images/img1.jpg'}}" alt="">-->
            <!--<h3> 欢迎来到随风逸技术博客，在这里可以看到网站前端和后端的技术等 </h3>-->
            <!--</a></li>-->
          <!--<li><a href="detail.html" target="_blank"><img th:src="@{${'/'+template+'/images/logo.jpg'}}" alt="">-->
            <!--<h3> 欢迎来到随风逸技术博客，在这里可以看到网站前端和后端的技术等 </h3>-->
            <!--</a></li>-->
        <!--</ul>-->
      <!--</div>-->
      <div class="content-block new-content">
        <h2 class="title"><strong>最新文章</strong></h2>
        <div class="row">

          <div class="news-list" th:each="list:${articleList.content}">
            <div class="news-img col-xs-5 col-sm-5 col-md-4"> <a target="_blank" th:href="@{${'/cms/detail/'+list.cmsId+'.html'}}">
              <img th:src="@{${list.cover == null?'/image/logo.jpg':list.cover}}" alt="">
            </a> </div>
            <div class="news-info col-xs-7 col-sm-7 col-md-8">
              <dl>
                <dt> <a th:href="@{${'/cms/detail/'+list.cmsId+'.html'}}" target="_blank" th:text="${list.title}"> 随风逸技术博客正式上线！ </a> </dt>
                <dd><span class="name"><a href="" title="由 随风逸 发布" rel="author">随风逸</a></span> <span class="identity"></span> <span class="time"> 2015-10-19 </span></dd>
                <dd class="text" th:text="${list.description}">欢迎来到随风逸技术博客。</dd>
              </dl>
              <div class="news_bot col-sm-7 col-md-8"> <span class="tags visible-lg visible-md"> <a href="">本站</a> <a href="">随风逸</a> </span> <span class="look"> 共 <strong th:text="${list.readNum}">2126</strong> 人围观，发现 <strong th:text="${list.commentNum}"> 12 </strong> 个不明物体 </span> </div>
            </div>
          </div>

        </div>
        <!--<div class="news-more" id="pagination">
        	<a href="">查看更多</a>
        </div>-->
        <div class="quotes" style="margin-top:15px">
          <span th:if="${articleList.first}" >首页</span>
          <a th:if="${!articleList.first}" href="/">首页</a>
          <span th:if="${!articleList.hasPrevious}" >上一页</span>
          <a th:if="${articleList.hasPrevious}" th:href="@{${'?page='+articleList.prevNumber+'&keyword='+param.keyword}}">上一页</a>
          <span class="current" th:text="${articleList.number}">1</span>
          <span th:if="${!articleList.hasNext}" >上一页</span>
          <a th:if="${articleList.hasNext}" th:href="@{${'?page='+articleList.nextNumber+'&keyword='+param.keyword}}" >下一页</a>
        </div>
      </div>
    </div>
  </div>
  <!--/内容-->
  <aside th:replace="${template+'/common/aside'} :: aside" ></aside>

  <!--/右侧>992px显示-->
  <footer th:replace="${template+'/common/footer'} :: footer"></footer>
</section>
<div th:include="${template+'/common/top'} :: top"></div>
</body>
</html>
