<div class="layui-form" lay-filter="layuiadmin-form-account" style="padding: 20px 0 0 0;">
    <script type="text/html" template>
        <input type="hidden" name="userId" value="{{ d.params.userId || 0}}" autocomplete="off" class="layui-input">
    </script>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="mobile" lay-verify="phone" placeholder="请输入手机号" value="{{ d.params.mobile || ''}}" autocomplete="off" class="layui-input" disabled>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="username"  placeholder="请输入用户名" value="{{ d.params.username || ''}}" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-inline" id="roles" style="width: 300px">
            <script type="text/html" template >
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="LAY-account-front-submit" value="确认" class="layui-btn">
        </div>
    </div>
</div>

<script>
    layui.use(['admin', 'form', 'upload'], function(){
        var $ = layui.$
            ,form = layui.form
            ,upload = layui.upload;
    })

</script>