<title>收入类型</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>配置管理</cite></a>
        <a><cite>收入类型</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
            </div>
            <table id="LAY-users-incometype-list" lay-filter="LAY-users-incometype-list"></table>
            <script type="text/html" id="isEnableTpl">
                {{#  if(d.isEnable == 0){ }}
                <input type="checkbox" name="isEnable" lay-skin="switch" lay-text="启用|不启用"  lay-filter="test" data-id="{{d.id}}">
                {{#  } else if(d.isEnable == 1){ }}
                <input type="checkbox" name="isEnable" lay-skin="switch" lay-text="启用|不启用" lay-filter="test" data-id="{{d.id}}" checked >
                {{#  } }}
            </script>
            <script type="text/html" id="table-incometype-list">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
            </script>
        </div>
    </div>
</div>

<script>
    layui.use('userincometype', layui.factory('userincometype')).use(['admin', 'userincometype', 'table'], function(){
        var $ = layui.$
            ,admin = layui.admin
            ,view = layui.view
            ,table = layui.table
            ,form = layui.form;
        form.render(null, 'users-incometype-listincometype');
        // 事件
        var active = {
            add: function () {
                admin.popup({
                    title: '添加收入类型'
                    ,area: ['450px', '270px']
                    ,id: 'LAY-popup-incometype-add'
                    ,success: function(layero, index){
                        view(this.id).render('users/incometype/incometypeform').done(function(){
                            form.render(null, 'layuiadmin-incometype-form-list');
                            //监听提交
                            form.on('submit(LAY-incometype-form-submit)', function(data){
                                var field = data.field; //获取提交的字段
                                formSubmit("user/addIncometype",field,function () {
                                    layui.table.reload('LAY-users-incometype-list'); //重载表格
                                    layer.close(index); //执行关闭
                                })
                            });
                        });
                    }
                })
            }
        }

        $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        // 监听开关事件
        form.on('switch', function(data){
            var id = $(data.elem).data("id"); //得到checkbox的ID
            var checked = data.elem.checked ? 1 : 0; //开关是否开启，true或者false
            console.log(id); //得到修改后的值
            console.log(checked); //得到修改后的值
            $.post(
                "user/editIncomeisEnable",
                {"id":id,"isEnable":checked},
                function(data){
                    if(data.code==0){
                        layer.msg("操作成功！");
                    }else{
                        layer.msg("操作失败！");
                    }
                }
            )
        });
    });
</script>