<title>关注列表</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>用户管理</cite></a>
        <a><cite>关注列表</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="users-follow-listfollow">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户账号</label>
                    <div class="layui-input-block">
                        <input type="text" name="account" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">对方账号</label>
                    <div class="layui-input-block">
                        <input type="text" name="toaccount" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">提出时间</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" id="addTime" name="addTime">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-follow-listfollow-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <table id="LAY-users-follow-list" lay-filter="LAY-users-follow-list"></table>
            <!--<script type="text/html" id="table-follow-list">
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="recharge"><i class="layui-icon layui-icon-add-1"></i>充值</a>
            </script>-->
        </div>
    </div>
</div>

<script type="text/html" id="followStateTpl">
    {{#  if(d.followState == 1){ }}
    关注
    {{#  } else if(d.followState == 2){ }}
    互关注
    {{#  } else if(d.followState == 0){ }}
    未关注
    {{#  } }}
</script>


<script>
    layui.use('userfollow', layui.factory('userfollow')).use(['admin', 'userfollow', 'table', 'laydate'], function(){
        var $ = layui.$
            ,admin = layui.admin
            ,laydate = layui.laydate
            ,view = layui.view
            ,table = layui.table
            ,form = layui.form;
        laydate.render({
            elem: '#addTime'
            ,type: 'datetime'
            ,range: true
        })
        form.render(null, 'users-follow-listfollow');
        //监听搜索
        form.on('submit(LAY-follow-listfollow-search)', function(data){
            var field = data.field;
            //执行重载
            table.reload('LAY-users-follow-list', {
                where: field
            });
        });
        /*$('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });*/
    });
</script>