<style>
    .pocket-form-label{
        width: 120px;
    }
</style>

<div class="layui-form" lay-filter="layuiadmin-menu-form-list" style="padding: 20px 30px 0 0;">
    <script type="text/html" template>
        <input type="hidden" name="menuId" value="{{ d.params.menuId || 0}}" autocomplete="off" class="layui-input">
    </script>
    <div class="layui-form-item">
        <label class="layui-form-label pocket-form-label">菜单名称</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="menuName" value="{{ d.params.menuName || '' }}" lay-verify="required" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label pocket-form-label">菜单类型</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <select name="menuType" lay-verify="required">
                    <option value="">--请选择--</option>
                    <option value="0" {{ d.params.menuType === 0 ? 'selected' : '' }}>目录</option>
                    <option value="1" {{ d.params.menuType === 1 ? 'selected' : '' }}>菜单</option>
                    <option value="2" {{ d.params.menuType === 2 ? 'selected' : '' }}>按钮</option>
                </select>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label pocket-form-label">菜单等级</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <select name="menuPid1" lay-filter="menuPid1">
                    <option value="0" {{ d.params.menuPid === 0 ? 'selected' : '' }} selected>一级菜单</option>
                    <option value="1" {{ d.params.menuPid !== 0 ? 'selected' : '' }}>下级菜单</option>
                </select>
            </script>
        </div>
    </div>
    <div class="layui-form-item" style="display: none" id="menuPid">
        <label class="layui-form-label pocket-form-label">父菜单</label>
        <div class="layui-input-inline">
            <select name="menuPid2" lay-verify="required"></select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label pocket-form-label">菜单地址</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="menuUrl" value="{{ d.params.menuUrl || '' }}"  autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label pocket-form-label">菜单图标</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="menuIcon" value="{{ d.params.menuIcon || '' }}"  autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label pocket-form-label">排序</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="sort" value="{{ d.params.sort || '0' }}" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label pocket-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="LAY-menu-form-submit" value="确认" class="layui-btn">
        </div>
    </div>
</div>

<script>
    layui.use(['admin','form' ], function(){
        var $ = layui.$
            ,form = layui.form;
        form.on('select(menuPid1)', function(data){
            if (data.value == 0) {
                $("#menuPid").css("display","none")
            } else {
                $("#menuPid").css("display","inline-block")
            }
        });
    })

</script>
