
<style>
    .cke_dialog_body {
        z-index: 9999;
        background: #fff;
    }
</style>

<div class="layui-form" lay-filter="layuiadmin-cms-form-list" style="padding: 20px 30px 0 0;">
    <script type="text/html" template>
        <input type="hidden" name="id" value="{{ d.params.id || 0}}" autocomplete="off" class="layui-input">
    </script>
    <div class="layui-form-item">
        <label class="layui-form-label">模板</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="template" value="{{ d.params.template || '' }}" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">封面</label>
        <div class="layui-input-inline">
            <input name="cover" lay-verify="required" id="LAY_avatarSrc" placeholder="图片地址" class="layui-input">
        </div>
        <div class="layui-input-inline layui-btn-container" style="width: auto;">
            <button type="button" class="layui-btn layui-btn-primary" id="LAY_avatarUpload">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <button class="layui-btn layui-btn-primary" layadmin-event="avartatPreview">查看图片</button >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">语言</label>
        <div class="layui-input-block" id="lang">
        </div>
    </div>

    <div id="article">

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="button" lay-submit lay-filter="LAY-cms-form-submit" value="确认" class="layui-btn">
            </script>
        </div>
    </div>
</div>

<script>
    layui.use('cms', layui.factory('cms'));
</script>

<script>
    layui.use('admin', function(){
        var $ = layui.$,
            admin = layui.admin;
        admin.events.change = function(othis){
            $(".change").removeClass("layui-btn-normal").addClass("layui-btn-primary");
            var index = othis.data('index');
            othis.removeClass("layui-btn-primary").addClass("layui-btn-normal");
            if ($("#"+index).css('display') == 'none') {            // 如果对应语言的div为隐藏，就设置为显示
                $(".cms").css("display","none");
                $("#"+index).css("display","block");
                return false;
            } else{                                                 // 如果对应语言的div为无，就动态添加
                if ($("#"+index).length <= 0){                      // 判断div区域是否存在
                    $(".cms").css("display","none");
                    var article = "";
                    article +=
                        "<div class='cms' id='"+index+"'>\n" +
                        "            <input type='hidden' name='langCode[]' value='"+index+"'>" +
                        "            <div class=\"layui-form-item\">\n" +
                        "                <label class=\"layui-form-label\">标题</label>\n" +
                        "                <div class=\"layui-input-inline\">\n" +
                        "                        <input type=\"text\" name='title[]' class=\"layui-input\">\n" +
                        "                </div>\n" +
                        "            </div>\n" +
                        "            <div class=\"layui-form-item\">\n" +
                        "                <label class=\"layui-form-label\">描述</label>\n" +
                        "                <div class=\"layui-input-block\">\n" +
                        "                    <textarea  class=\"layui-textarea\" name='description[]' ></textarea>\n" +
                        "                </div>\n" +
                        "            </div>\n" +
                        "            <div class=\"layui-form-item\">\n" +
                        "                <label class=\"layui-form-label\">内容</label>\n" +
                        "                <div class=\"layui-input-inline layui-btn-container\" style=\"width: auto;\">\n" +
                        "                        <textarea name='content[]' class='content' id='content"+index+"'></textarea>\n" +
                        "                </div>\n" +
                        "            </div>\n" +
                        "        </div>";
                    $("#article").append(article);
                    $("#"+index).css("display","block");
                    if(!window.CKEDITOR) {
                        layui.config({
                            base: 'src/ckeditor/'
                        }).extend({
                            ckeditor: 'ckeditor'
                        }).use('ckeditor', function () {
                            CKEDITOR.replace('content'+index, {
                                language: index,
                                baseFloatZIndex: 9999999999999,
                                filebrowserImageUploadUrl : "/cms/upload/file?type_code=cms"
                            });
                        });
                    } else {
                        layui.use('ckeditor', function () {
                            CKEDITOR.replace('content'+index, {
                                language: index,
                                baseFloatZIndex: 9999999999999,
                                filebrowserImageUploadUrl : "/cms/upload/file?type_code=cms"
                            });
                        });
                    }
                }
            }
        }
    });
</script>
