<header xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <div class="hidden-xs header"><!--超小屏幕不显示-->
        <h1 class="logo"> <a href="/" title="随风逸博客"></a> </h1>
        <ul class="nav hidden-xs-nav">
            <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span>网站首页</a></li>
            <li th:each="menu : ${menuList}"><a th:href="@{${menu.menuUrl}}" ><span th:class="${'glyphicon '+menu.menuIcon}"></span><span style="margin: 0" th:text="${menu.menuName}"></span></a></li>
        </ul>
        <div class="feeds" >
            <a th:each="link:${linkList}" th:class="${'feed '+link.linkIcon}" th:href="${link.linkUrl}" target="_blank"><i></i><span th:text="${link.linkName}"></span></a>
            <!--<a class="feed feed-txweibo" href="" target="_blank"><i></i>腾讯微博</a>-->
            <!--<a class="feed feed-rss" href="" target="_blank"><i></i>订阅本站</a>-->
            <!--<a class="feed feed-weixin" data-toggle="popover" data-trigger="hover" title="微信扫一扫" data-html="true" href="javascript:;" target="_blank" data-content=<img th:src="@{${'/'+template+'/images/weixin.png'}}" ><i></i>关注微信</a>-->
        </div>
        <!--readerWall.html tags.html-->
        <div class="wall"><a href="/" target="_blank">读者墙</a> | <a href="/" target="_blank">标签云</a></div>
    </div>
    <!--/超小屏幕不显示-->
    <div class="visible-xs header-xs"><!--超小屏幕可见-->
        <div class="navbar-header header-xs-logo">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-xs-menu" aria-expanded="false" aria-controls="navbar"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
        </div>
        <div id="header-xs-menu" class="navbar-collapse collapse">
            <ul class="nav navbar-nav header-xs-nav">
                <li class="active"><a href="index.html"><span class="glyphicon glyphicon-home"></span>网站首页</a></li>
                <li th:each="menu : ${menuList}"><a th:href="@{${menu.menuUrl}}" ><span th:class="${'glyphicon '+menu.menuIcon}"></span><span style="margin: 0" th:text="${menu.menuName}"></span></a></li>
            </ul>
            <form class="navbar-form" action="#" method="post" style="padding:0 25px;">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="请输入关键字">
                    <span class="input-group-btn">
            <button class="btn btn-default btn-search" type="submit">搜索</button>
            </span> </div>
            </form>
        </div>
    </div>
</header>